<h2>
  Editor
</h2>

<a *ngIf="!standalone" mat-button href="/editor" target="_blank" (click)="detach()">Detach me</a>
<div *ngIf="data">
  <p>The content for {{data.foo}} at {{data.d | date:'mediumTime' }}</p>
  <label>
    <textarea matInput [(ngModel)]="data.foo"></textarea>
  </label>
</div>
