<h2>
  Explorer
</h2>

<div fxLayout="column">
<span class="mat-body-1" (click)="send('Foo')">Foo</span>
<span class="mat-body-1" (click)="send('Bar')">Bar</span>
<span class="mat-body-1" (click)="send('Baz')">Baz</span>
</div>
